.place__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 73px;
    line-height: 76px;
    margin: 0;
    max-width: 460px;
}

@media screen and (max-width: 1111px) {
    .place__title {
        font-size: 63px;
        line-height: 66px;
    }
}

@media screen and (max-width: 1024px) {
    .place__title {
        font-size: 73px;
        line-height: 76px;
    }
}

@media screen and (max-width: 905px) {
    .place__title {
        font-size: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}