.intro {
    margin: 92px 0 0;
}

.intro__title {
    max-width: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    max-width: 690px;
    margin: 40px 0 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    max-width: 690px;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
}

.intro__list-number {
    font-weight: 400;
}