.cover {
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    margin: 92px auto 0;
    max-width: 1184px;
    box-sizing: border-box;
}

.cover:after {
    content: "";
    width: 0;
    height: 0;
    padding-top: calc(740 / 1184 * 100%);
}