.place {
    margin: 0 auto 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 460px));
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    row-gap: 48px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 320px) {
    .place {
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
}