.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 78px;
    padding-bottom: 6px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 71px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 39px;
    }
}