.cover__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    background: rgba(42,44,47, .3);
    position: relative;
}

.cover__item:hover {
    background: rgba(42,44,47, .8);
}