.place__item {
    display: grid;
    align-content: center;
    padding-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__item {
        padding-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__item {
        padding-left: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place__item {
        padding-top: 10px;
    }
}